#student-table {
  max-height: 400px;
  overflow: scroll;
}

th,
tr {
  width: 33%;
}

.present {
  background-color: #0069d9;
  color: white;
  font-style: italic;
}

.absent {
  background-color: #677f99;
  color: whitesmoke;
  font-weight: bold;
}

[v-cloak] {
  display: none;
}
