#student-table {
  max-height: 400px;
  overflow: scroll;
}

th,
tr {
  width: 33%;
}

.present {
  background-color: rgb(16, 42, 114);
  color: white;
  font-style: italic;
}

.absent {
  background-color: rgb(97, 101, 141);
  color: whitesmoke;
  font-weight: bold;
}

[v-cloak] {
  display: none;
}
