#records {
  max-height: 250px;
  overflow: scroll;
}

[v-cloak] {
  display: none;
}

.categoryOne {
  background-color: tomato;
}
.categoryTwo {
  background-color: steelblue;
}
.categoryThree {
  background-color: mediumseagreen;
}
