#records {
  max-height: 250px;
  overflow: scroll;
}

[v-cloak] {
  display: none;
}

.categoryOne {
  background-color: sandybrown;
}
.categoryTwo {
  background-color: skyblue;
}
.categoryThree {
  background-color: khaki;
}
