* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  color: #2d8ca7;
  padding: 20px 0 0 0;
}
header {
  width: 100%;
  text-align: center;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
}

.wrapper div {
  flex: 1 0 450px;
  margin-bottom: 20px;
}
#usBridges-map {
  background-color: whitesmoke;
  width: 70%;
  height: 400px;
}

.bridges-chart {
  background-color: whitesmoke;
  color: #141414;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
